<html xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="utf-8"/>
    <title><%=i18n.page.login.LOGIN_PAGE_TITLE%></title>
    <link href="/assert/css/pkg/ri.css" rel="stylesheet"/>
    <link href="/assert/css/login-page.css" rel=stylesheet />
    <link href="/assert/img/favicon.ico" rel="icon" />
</head>
<body>
<div class="r-login-content">
    <div class="ri-unit-input">
        <label></label>
        <input class="ri-input" placeholder=""/>
    </div>
</div>
</body>
</html>