body,h1,h2,h3,h4,h5,h6,hr,p,blockquote,dl,dt,dd,ul,ol,li,pre,fieldset,button,input,textarea,form,th,td {
    margin: 0;
    padding: 0;
    font-family: "Microsoft YaHei", sans-serif;
}

a{
    text-decoration: none;
}

.ri-input{
    display: block;
    border: none;
    border-bottom: 1px solid #ccc;
    -webkit-appearance: none;
    outline: 0;
    padding: 5px;
    min-width: 200px;
    background: none;
}

.ri-unit-input .ri-input{
    display: inline-block;
    margin-left: 3px;
}

.ri-unit-input label{
    color: #333;
}

.ri-button{
    border: none;
    background: #35b5fc;
    color: #fff;
    padding: 10px;
    border-radius: 2px;
    cursor: pointer;
}

.ri-select{
    border: none;
    width: 200px;
    height: 30px;
    line-height: 30px;
    border-bottom: 1px solid #ccc;
    outline: 0;
    background: none;
    padding: 5px;
}

.ri-nav-progress-item{
    color: #fff;
    display: inline-block;
    font-size: 20px;
}

.ri-nav-progress-item .item-no{
    display: inline-block;
    text-align: center;
    line-height: 30px;
    width: 30px;
    height: 30px;
    border-radius: 30px;
    border: 2px solid #fff;
}

.ri-iconfont{
    color:#fff;
}

.ri-hide{
    display: none;
}