<div class="r-config-header">
    <div class="r-config-progress">
        <div class="ri-nav-progress-item <% if (selected === 1){ %> r-config-progress-selected <% }%>">
            <span class="item-no">1</span>
            <label>Database Setting</label>
        </div>
        <span class="ri-iconfont ri-icon-jindu"></span>
        <div class="ri-nav-progress-item <% if (selected === 2){ %> r-config-progress-selected <% }%>">
            <span class="item-no">2</span>
            <label>Blog Information</label>
        </div>
        <span class="ri-iconfont ri-icon-jindu"></span>
        <div class="ri-nav-progress-item <% if (selected === 3){ %> r-config-progress-selected <% }%>">
            <span class="item-no">3</span>
            <label>Success</label>
        </div>
    </div>
</div>