<img class="r-config-success-img" src="/assert/img/logo/config-page-rocket.jpg"/>
<h4 class="r-config-success-msg"><%=i18n.page.config.SUCCESS_MESSAGE%></h4>
<a class="ri-button" href="/login"><%=i18n.page.config.ACTION_GO_ADMIN%></a>
<a class="ri-button" href="/"><%=i18n.page.config.ACTION_GO_INDEX%></a>